body {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
    margin: 0;
    background-color: #000;
}

.glow-box {
    width: 200px;
    height: 200px;
    background-color: #00aaff;
    border-radius: 50%;

    box-shadow: 0px 0px 20px #00aaff;
    animation: glow-animation 2s infinite alternate;
}

@keyframes glow-animation {
    from {
        box-shadow: 0 0 20px #00aaff;
    }

    to {
        box-shadow: 0 0 90px #00aaff;
    }
}